@model W2022A6YH.Models.AlbumDetailViewModel

@{
    ViewBag.Title = "Details";
    var userAccount = new W2022A6YH.Controllers.RequestUser(User as System.Security.Claims.ClaimsPrincipal);
}

<h2>Album details - @Model.Name</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
            <hr />
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
            <hr />
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.UrlAlbum)
        </dt>

        <dd>
            <img src="@Url.Content(Model.UrlAlbum)" alt="" width="160" height="200" />
            <hr />
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
            <hr />
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.Background)
        </dt>

        <dd>
            <div class="panel panel-default panel-body">
                @Html.Raw(Model.Background)
            </div>
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index") 
    
    @if (userAccount.HasRoleClaim("Clerk"))
    {
    <span>
        |
        @Html.ActionLink("Add track to this album", "AddTrack", new { id = Model.Id })
    </span>
    }
</p>
